{
  "swagger": "2.0",
  "info": {
    "description": "해당 정보는 (예비)창업자들이 성공적인 창업을 준비하고 추진할 수 있도록 지원하기 위해 창업진흥원 기관에서 제공하는 다양한 창업지원 사업의 공고 정보를 정리한 자료입니다. 주요 항목은 사업명, 사업유형, 사업 개요, 지원대상, 모집기간, 신청방법, 문의처 등으로 구성되어 있으며, 창업자들은 이를 통해 정부의 창업지원 정책과 연계된 각종 프로그램의 세부 내용을 확인하고, 자신의 창업 단계와 분야에 맞는 맞춤형 지원사업을 탐색할 수 있습니다. 또한 사업별 소개 자료, 신청 가이드, 선정사례, 영상 콘텐츠 등 다양한 부가정보도 함께 제공되어 창업 이해도와 준비도를 높이는 데 활용 가능하며, 실무 중심의 창업전략 수립과 정책 연계형 자금·교육·멘토링 기회를 확보하는 데 실질적 도움을 주는 창업정보 서비스입니다.",
    "version": "1.0.0",
    "title": "창업진흥원_K-Startup(사업소개,사업공고,콘텐츠 등)_조회서비스"
  },
  "host": "apis.data.go.kr/B552735/kisedKstartupService01",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getAnnouncementInformation01": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "currentCount": {
                  "type": "integer",
                  "description": "현재 페이지 결과 수 ",
                  "properties": {}
                },
                "data": {
                  "type": "object",
                  "description": "결과",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "결과",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rcrt_prgs_yn": {
                            "type": "string",
                            "description": "모집진행여부(기본Y,모집중Y,모집마감N)",
                            "properties": {}
                          },
                          "aply_trgt": {
                            "type": "string",
                            "description": "신청 대상",
                            "properties": {}
                          },
                          "biz_enyy": {
                            "type": "string",
                            "description": "창업 기간",
                            "properties": {}
                          },
                          "biz_trgt_age": {
                            "type": "string",
                            "description": "대상 연령",
                            "properties": {}
                          },
                          "prfn_matr": {
                            "type": "string",
                            "description": "우대 사항",
                            "properties": {}
                          },
                          "intg_pbanc_yn": {
                            "type": "string",
                            "description": "통합 공고 여부",
                            "properties": {}
                          },
                          "biz_pbanc_nm": {
                            "type": "string",
                            "description": "지원 사업 공고 명",
                            "properties": {}
                          },
                          "intg_pbanc_biz_nm": {
                            "type": "string",
                            "description": "통합 공고 사업 명",
                            "properties": {}
                          },
                          "pbanc_ctnt": {
                            "type": "string",
                            "description": "공고 내용",
                            "properties": {}
                          },
                          "supt_biz_clsfc": {
                            "type": "string",
                            "description": "지원 분야",
                            "properties": {}
                          },
                          "aply_trgt_ctnt": {
                            "type": "string",
                            "description": "신청 대상 내용",
                            "properties": {}
                          },
                          "supt_regin": {
                            "type": "string",
                            "description": "지역명",
                            "properties": {}
                          },
                          "pbanc_rcpt_bgng_dt": {
                            "type": "string",
                            "description": "공고 접수 시작 일시(yyyyMMdd)",
                            "properties": {}
                          },
                          "pbanc_rcpt_end_dt": {
                            "type": "string",
                            "description": "공고 접수 종료 일시(yyyyMMdd)",
                            "properties": {}
                          },
                          "pbanc_ntrp_nm": {
                            "type": "string",
                            "description": "창업 지원 기관명",
                            "properties": {}
                          },
                          "sprv_inst": {
                            "type": "string",
                            "description": "주관 기관",
                            "properties": {}
                          },
                          "biz_prch_dprt_nm": {
                            "type": "string",
                            "description": "사업 담당자 부서명",
                            "properties": {}
                          },
                          "biz_gdnc_url": {
                            "type": "string",
                            "description": "사업 안내 URL",
                            "properties": {}
                          },
                          "biz_aply_url": {
                            "type": "string",
                            "description": "공고 상세 URL",
                            "properties": {}
                          },
                          "prch_cnpl_no": {
                            "type": "string",
                            "description": "담당자 연락처",
                            "properties": {}
                          },
                          "detl_pg_url": {
                            "type": "string",
                            "description": "사업 신청 URL",
                            "properties": {}
                          },
                          "aply_mthd_vst_rcpt_istc": {
                            "type": "string",
                            "description": "신청 방법 방문 접수 설명",
                            "properties": {}
                          },
                          "aply_mthd_pssr_rcpt_istc": {
                            "type": "string",
                            "description": "신청 방법 우편 접수 설명",
                            "properties": {}
                          },
                          "aply_mthd_fax_rcpt_istc": {
                            "type": "string",
                            "description": "신청 방법 팩스 접수 설명",
                            "properties": {}
                          },
                          "aply_mthd_onli_rcpt_istc": {
                            "type": "string",
                            "description": "신청 방법 온라인 접수 설명",
                            "properties": {}
                          },
                          "aply_mthd_etc_istc": {
                            "type": "string",
                            "description": "신청 방법 기타 설명",
                            "properties": {}
                          },
                          "aply_excl_trgt_ctnt": {
                            "type": "string",
                            "description": "신청제외대상내용",
                            "properties": {}
                          },
                          "pbanc_sn": {
                            "type": "string",
                            "description": "공고일련번호",
                            "properties": {}
                          }
                        }
                      }
                    }
                  }
                },
                "matchCount": {
                  "type": "integer",
                  "description": "데이터 응답 수",
                  "properties": {}
                },
                "page": {
                  "type": "integer",
                  "description": "페이지",
                  "properties": {}
                },
                "perPage": {
                  "type": "integer",
                  "description": "한 페이지 결과 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "integer",
                  "description": "총 결과 수",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "401": {
            "description": "인증 정보가 정확하지 않음"
          },
          "500": {
            "description": "API 서버에 문제가 발생하였음"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지원사업 공고 정보",
        "description": "창업지원사업 공고명, 공고기간, 지원대상, 지원내용 지원방법 등 공고 정보",
        "operationId": "getAnnouncementInformation01",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "page",
          "description": "페이지",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "perPage",
          "description": "한 페이지 결과 수",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[intg_pbanc_yn::EQ]",
          "description": "통합 공고 여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[intg_pbanc_biz_nm::LIKE]",
          "description": "통합 공고 사업 명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_pbanc_nm::LIKE]",
          "description": "지원 사업 공고 명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[supt_biz_clsfc::LIKE]",
          "description": "지원 분야",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[aply_trgt_ctnt::LIKE]",
          "description": "신청 대상 내용",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[supt_regin::LIKE]",
          "description": "지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[pbanc_rcpt_bgng_dt::GTE]",
          "description": "공고 접수 시작 일시 이상(yyyyMMdd)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[pbanc_rcpt_end_dt::LTE]",
          "description": "공고 접수 종료 일시 이하(yyyyMMdd)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[aply_trgt::LIKE]",
          "description": "신청 대상(청소년,대학생,일반인)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_enyy::LIKE]",
          "description": "창업 기간(7년미만,5년미만,3년미만,2년미만,1년미만,예비창업자)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_trgt_age::LIKE]",
          "description": "대상 연령(만 20세 미만, 만 20세 이상 ~ 만 39세 이하, 만 40세 이상)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[prfn_matr::LIKE]",
          "description": "우대 사항",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[rcrt_prgs_yn::EQ]",
          "description": "모집진행여부(기본Y,모집중Y,모집마감N)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "json/xml(default:xml)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getStatisticalInformation01": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "currentCount": {
                  "type": "integer",
                  "description": "현재 페이지 결과 수 ",
                  "properties": {}
                },
                "data": {
                  "type": "object",
                  "description": "결과",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "결과",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ctnt": {
                            "type": "string",
                            "description": "통계 자료 내용",
                            "properties": {}
                          },
                          "fstm_reg_dt": {
                            "type": "string",
                            "description": "등록 일시",
                            "properties": {}
                          },
                          "last_mdfcn_dt": {
                            "type": "string",
                            "description": "수정 일시",
                            "properties": {}
                          },
                          "detl_pg_url": {
                            "type": "string",
                            "description": "상세페이지 URL",
                            "properties": {}
                          },
                          "file_nm": {
                            "type": "string",
                            "description": "다운로드 파일 명",
                            "properties": {}
                          },
                          "titl_nm": {
                            "type": "string",
                            "description": "통계 자료 명",
                            "properties": {}
                          }
                        }
                      }
                    }
                  }
                },
                "matchCount": {
                  "type": "integer",
                  "description": "데이터 응답 수",
                  "properties": {}
                },
                "page": {
                  "type": "integer",
                  "description": "페이지",
                  "properties": {}
                },
                "perPage": {
                  "type": "integer",
                  "description": "한 페이지 결과 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "integer",
                  "description": "총 결과 수",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "401": {
            "description": "인증 정보가 정확하지 않음"
          },
          "500": {
            "description": "API 서버에 문제가 발생하였음"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "창업관련 통계보고서 정보",
        "description": "창업기업 업력, 형태, 분야, 해외진출 여부 등 통계보고서 정보",
        "operationId": "getStatisticalInformation01",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "page",
          "description": "페이지",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "perPage",
          "description": "한 페이지 결과 수",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[titl_nm::LIKE]",
          "description": "통계 자료 명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[file_nm::LIKE]",
          "description": "통계 자료 내용",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "json/xml(default:xml)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getContentInformation01": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "currentCount": {
                  "type": "integer",
                  "description": "현재 페이지 결과 수 ",
                  "properties": {}
                },
                "data": {
                  "type": "object",
                  "description": "결과",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "결과",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fstm_reg_dt": {
                            "type": "string",
                            "description": "등록 일시",
                            "properties": {}
                          },
                          "view_cnt": {
                            "type": "integer",
                            "description": "조회 수",
                            "properties": {}
                          },
                          "detl_pg_url": {
                            "type": "string",
                            "description": "상세페이지 URL",
                            "properties": {}
                          },
                          "file_nm": {
                            "type": "string",
                            "description": "파일 명",
                            "properties": {}
                          },
                          "clss_cd": {
                            "type": "string",
                            "description": "콘텐츠 구분 코드",
                            "properties": {}
                          },
                          "titl_nm": {
                            "type": "string",
                            "description": "제목",
                            "properties": {}
                          }
                        }
                      }
                    }
                  }
                },
                "matchCount": {
                  "type": "integer",
                  "description": "데이터 응답 수",
                  "properties": {}
                },
                "page": {
                  "type": "integer",
                  "description": "페이지",
                  "properties": {}
                },
                "perPage": {
                  "type": "integer",
                  "description": "한 페이지 결과 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "integer",
                  "description": "총 결과 수",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "401": {
            "description": "인증 정보가 정확하지 않음"
          },
          "500": {
            "description": "API 서버에 문제가 발생하였음"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "창업관련 콘텐츠 정보",
        "description": "정책·규제 정보, 생태계 이슈·동향, 창업우수사례 정보 등 콘텐츠 정보",
        "operationId": "getContentInformation01",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "page",
          "description": "페이지",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "perPage",
          "description": "한 페이지 결과 수",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[clss_cd::EQ]",
          "description": "콘텐츠 구분 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[titl_nm::LIKE]",
          "description": "제목",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "json/xml(default:xml)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getBusinessInformation01": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "currentCount": {
                  "type": "integer",
                  "description": "현재 페이지 결과 수 ",
                  "properties": {}
                },
                "data": {
                  "type": "object",
                  "description": "결과",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "결과",
                      "items": {
                        "type": "object",
                        "properties": {
                          "biz_supt_bdgt_info": {
                            "type": "string",
                            "description": "지원예산 및 규모",
                            "properties": {}
                          },
                          "biz_supt_ctnt": {
                            "type": "string",
                            "description": "지원 내용",
                            "properties": {}
                          },
                          "supt_biz_chrct": {
                            "type": "string",
                            "description": "지원 특징",
                            "properties": {}
                          },
                          "supt_biz_intrd_info": {
                            "type": "string",
                            "description": "사업 소개 정보",
                            "properties": {}
                          },
                          "biz_yr": {
                            "type": "number",
                            "description": "사업 연도",
                            "properties": {}
                          },
                          "biz_category_cd": {
                            "type": "string",
                            "description": "사업 구분 코드",
                            "properties": {}
                          },
                          "supt_biz_titl_nm": {
                            "type": "string",
                            "description": "사업 명",
                            "properties": {}
                          },
                          "biz_supt_trgt_info": {
                            "type": "string",
                            "description": "지원 대상",
                            "properties": {}
                          },
                          "detl_pg_url": {
                            "type": "string",
                            "description": "상세페이지 url",
                            "properties": {}
                          }
                        }
                      }
                    }
                  }
                },
                "matchCount": {
                  "type": "integer",
                  "description": "데이터 응답 수",
                  "properties": {}
                },
                "page": {
                  "type": "integer",
                  "description": "페이지",
                  "properties": {}
                },
                "perPage": {
                  "type": "integer",
                  "description": "한 페이지 결과 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "integer",
                  "description": "총 결과 수",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "401": {
            "description": "인증 정보가 정확하지 않음"
          },
          "500": {
            "description": "API 서버에 문제가 발생하였음"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "통합공고 지원사업 정보",
        "description": "창업지원사업 예산, 규모, 수행기관, 사업절차, 문의처 등 사업 소개 정보",
        "operationId": "getBusinessInformation01",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "page",
          "description": "페이지",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "perPage",
          "description": "한 페이지 결과 수",
          "type": "integer",
          "required": false,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "json/xml(default:xml)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_category_cd::EQ]",
          "description": "사업 구분 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[supt_biz_titl_nm::LIKE]",
          "description": "사업 명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_supt_trgt_info::LIKE]",
          "description": "지원 대상",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_supt_bdgt_info::LIKE]",
          "description": "지원예산 및 규모",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_supt_ctnt::LIKE]",
          "description": "지원 내용",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[supt_biz_chrct::LIKE]",
          "description": "지원 특징",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[supt_biz_intrd_info::LIKE]",
          "description": "사업 소개 정보",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[biz_yr::EQ]",
          "description": "사업 연도",
          "type": "number",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getAnnouncementInformation01_response": {
      "type": "object",
      "properties": {
        "currentCount": {
          "type": "integer",
          "description": "현재 페이지 결과 수 "
        },
        "data": {
          "type": "object",
          "description": "결과",
          "properties": {
            "data": {
              "type": "array",
              "description": "결과",
              "items": {
                "type": "object",
                "properties": {
                  "rcrt_prgs_yn": {
                    "type": "string",
                    "description": "모집진행여부(기본Y,모집중Y,모집마감N)"
                  },
                  "aply_trgt": {
                    "type": "string",
                    "description": "신청 대상"
                  },
                  "biz_enyy": {
                    "type": "string",
                    "description": "창업 기간"
                  },
                  "biz_trgt_age": {
                    "type": "string",
                    "description": "대상 연령"
                  },
                  "prfn_matr": {
                    "type": "string",
                    "description": "우대 사항"
                  },
                  "intg_pbanc_yn": {
                    "type": "string",
                    "description": "통합 공고 여부"
                  },
                  "biz_pbanc_nm": {
                    "type": "string",
                    "description": "지원 사업 공고 명"
                  },
                  "intg_pbanc_biz_nm": {
                    "type": "string",
                    "description": "통합 공고 사업 명"
                  },
                  "pbanc_ctnt": {
                    "type": "string",
                    "description": "공고 내용"
                  },
                  "supt_biz_clsfc": {
                    "type": "string",
                    "description": "지원 분야"
                  },
                  "aply_trgt_ctnt": {
                    "type": "string",
                    "description": "신청 대상 내용"
                  },
                  "supt_regin": {
                    "type": "string",
                    "description": "지역명"
                  },
                  "pbanc_rcpt_bgng_dt": {
                    "type": "string",
                    "description": "공고 접수 시작 일시(yyyyMMdd)"
                  },
                  "pbanc_rcpt_end_dt": {
                    "type": "string",
                    "description": "공고 접수 종료 일시(yyyyMMdd)"
                  },
                  "pbanc_ntrp_nm": {
                    "type": "string",
                    "description": "창업 지원 기관명"
                  },
                  "sprv_inst": {
                    "type": "string",
                    "description": "주관 기관"
                  },
                  "biz_prch_dprt_nm": {
                    "type": "string",
                    "description": "사업 담당자 부서명"
                  },
                  "biz_gdnc_url": {
                    "type": "string",
                    "description": "사업 안내 URL"
                  },
                  "biz_aply_url": {
                    "type": "string",
                    "description": "공고 상세 URL"
                  },
                  "prch_cnpl_no": {
                    "type": "string",
                    "description": "담당자 연락처"
                  },
                  "detl_pg_url": {
                    "type": "string",
                    "description": "사업 신청 URL"
                  },
                  "aply_mthd_vst_rcpt_istc": {
                    "type": "string",
                    "description": "신청 방법 방문 접수 설명"
                  },
                  "aply_mthd_pssr_rcpt_istc": {
                    "type": "string",
                    "description": "신청 방법 우편 접수 설명"
                  },
                  "aply_mthd_fax_rcpt_istc": {
                    "type": "string",
                    "description": "신청 방법 팩스 접수 설명"
                  },
                  "aply_mthd_onli_rcpt_istc": {
                    "type": "string",
                    "description": "신청 방법 온라인 접수 설명"
                  },
                  "aply_mthd_etc_istc": {
                    "type": "string",
                    "description": "신청 방법 기타 설명"
                  },
                  "aply_excl_trgt_ctnt": {
                    "type": "string",
                    "description": "신청제외대상내용"
                  },
                  "pbanc_sn": {
                    "type": "string",
                    "description": "공고일련번호"
                  }
                }
              }
            }
          }
        },
        "matchCount": {
          "type": "integer",
          "description": "데이터 응답 수"
        },
        "page": {
          "type": "integer",
          "description": "페이지"
        },
        "perPage": {
          "type": "integer",
          "description": "한 페이지 결과 수"
        },
        "totalCount": {
          "type": "integer",
          "description": "총 결과 수"
        }
      }
    },
    "getStatisticalInformation01_response": {
      "type": "object",
      "properties": {
        "currentCount": {
          "type": "integer",
          "description": "현재 페이지 결과 수 "
        },
        "data": {
          "type": "object",
          "description": "결과",
          "properties": {
            "data": {
              "type": "array",
              "description": "결과",
              "items": {
                "type": "object",
                "properties": {
                  "ctnt": {
                    "type": "string",
                    "description": "통계 자료 내용"
                  },
                  "fstm_reg_dt": {
                    "type": "string",
                    "description": "등록 일시"
                  },
                  "last_mdfcn_dt": {
                    "type": "string",
                    "description": "수정 일시"
                  },
                  "detl_pg_url": {
                    "type": "string",
                    "description": "상세페이지 URL"
                  },
                  "file_nm": {
                    "type": "string",
                    "description": "다운로드 파일 명"
                  },
                  "titl_nm": {
                    "type": "string",
                    "description": "통계 자료 명"
                  }
                }
              }
            }
          }
        },
        "matchCount": {
          "type": "integer",
          "description": "데이터 응답 수"
        },
        "page": {
          "type": "integer",
          "description": "페이지"
        },
        "perPage": {
          "type": "integer",
          "description": "한 페이지 결과 수"
        },
        "totalCount": {
          "type": "integer",
          "description": "총 결과 수"
        }
      }
    },
    "getContentInformation01_response": {
      "type": "object",
      "properties": {
        "currentCount": {
          "type": "integer",
          "description": "현재 페이지 결과 수 "
        },
        "data": {
          "type": "object",
          "description": "결과",
          "properties": {
            "data": {
              "type": "array",
              "description": "결과",
              "items": {
                "type": "object",
                "properties": {
                  "fstm_reg_dt": {
                    "type": "string",
                    "description": "등록 일시"
                  },
                  "view_cnt": {
                    "type": "integer",
                    "description": "조회 수"
                  },
                  "detl_pg_url": {
                    "type": "string",
                    "description": "상세페이지 URL"
                  },
                  "file_nm": {
                    "type": "string",
                    "description": "파일 명"
                  },
                  "clss_cd": {
                    "type": "string",
                    "description": "콘텐츠 구분 코드"
                  },
                  "titl_nm": {
                    "type": "string",
                    "description": "제목"
                  }
                }
              }
            }
          }
        },
        "matchCount": {
          "type": "integer",
          "description": "데이터 응답 수"
        },
        "page": {
          "type": "integer",
          "description": "페이지"
        },
        "perPage": {
          "type": "integer",
          "description": "한 페이지 결과 수"
        },
        "totalCount": {
          "type": "integer",
          "description": "총 결과 수"
        }
      }
    },
    "getBusinessInformation01_response": {
      "type": "object",
      "properties": {
        "currentCount": {
          "type": "integer",
          "description": "현재 페이지 결과 수 "
        },
        "data": {
          "type": "object",
          "description": "결과",
          "properties": {
            "data": {
              "type": "array",
              "description": "결과",
              "items": {
                "type": "object",
                "properties": {
                  "biz_supt_bdgt_info": {
                    "type": "string",
                    "description": "지원예산 및 규모"
                  },
                  "biz_supt_ctnt": {
                    "type": "string",
                    "description": "지원 내용"
                  },
                  "supt_biz_chrct": {
                    "type": "string",
                    "description": "지원 특징"
                  },
                  "supt_biz_intrd_info": {
                    "type": "string",
                    "description": "사업 소개 정보"
                  },
                  "biz_yr": {
                    "type": "number",
                    "description": "사업 연도"
                  },
                  "biz_category_cd": {
                    "type": "string",
                    "description": "사업 구분 코드"
                  },
                  "supt_biz_titl_nm": {
                    "type": "string",
                    "description": "사업 명"
                  },
                  "biz_supt_trgt_info": {
                    "type": "string",
                    "description": "지원 대상"
                  },
                  "detl_pg_url": {
                    "type": "string",
                    "description": "상세페이지 url"
                  }
                }
              }
            }
          }
        },
        "matchCount": {
          "type": "integer",
          "description": "데이터 응답 수"
        },
        "page": {
          "type": "integer",
          "description": "페이지"
        },
        "perPage": {
          "type": "integer",
          "description": "한 페이지 결과 수"
        },
        "totalCount": {
          "type": "integer",
          "description": "총 결과 수"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://nidapi.k-startup.go.kr/api/kisedKstartupService/v1/getBusinessInformation",
      "oprtinNm": "통합공고 지원사업 정보",
      "oprtinDc": "창업지원사업 예산, 규모, 수행기관, 사업절차, 문의처 등 사업 소개 정보",
      "gwSvcNm": "getBusinessInformation01",
      "operationId": "getBusinessInformation01",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "page",
          "paramtrDc": "페이지",
          "paramtrBassValue": "1",
          "paramtrTy": "integer",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "perPage",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "integer",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "returnType",
          "paramtrDc": "json/xml(default:xml)",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[biz_category_cd::EQ]",
          "paramtrDc": "사업 구분 코드",
          "paramtrBassValue": "cmrczn_Tab3",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[supt_biz_titl_nm::LIKE]",
          "paramtrDc": "사업 명",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[biz_supt_trgt_info::LIKE]",
          "paramtrDc": "지원 대상",
          "paramtrBassValue": "7년 이내",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[biz_supt_bdgt_info::LIKE]",
          "paramtrDc": "지원예산 및 규모",
          "paramtrBassValue": "49.31억원",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[biz_supt_ctnt::LIKE]",
          "paramtrDc": "지원 내용",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[supt_biz_chrct::LIKE]",
          "paramtrDc": "지원 특징",
          "paramtrBassValue": "초기",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[supt_biz_intrd_info::LIKE]",
          "paramtrDc": "사업 소개 정보",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[biz_yr::EQ]",
          "paramtrDc": "사업 연도",
          "paramtrBassValue": "2023",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "currentCount",
          "paramtrDc": "현재 페이지 결과 수 ",
          "arrayYn": "N",
          "paramtrDefNm": "",
          "paramtrTy": "integer",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "data",
          "paramtrDc": "결과",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-body",
          "subDefNm": "oper-1-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "data",
              "paramtrDc": "결과",
              "arrayYn": "Y",
              "paramtrDefNm": "#/definitions/oper-1-items",
              "subDefNm": "oper-1-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "biz_supt_bdgt_info",
                  "paramtrDc": "지원예산 및 규모",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "biz_supt_ctnt",
                  "paramtrDc": "지원 내용",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "supt_biz_chrct",
                  "paramtrDc": "지원 특징",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "supt_biz_intrd_info",
                  "paramtrDc": "사업 소개 정보",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "biz_yr",
                  "paramtrDc": "사업 연도",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "number",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "biz_category_cd",
                  "paramtrDc": "사업 구분 코드",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "supt_biz_titl_nm",
                  "paramtrDc": "사업 명",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "biz_supt_trgt_info",
                  "paramtrDc": "지원 대상",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                },
                {
                  "paramtrNm": "detl_pg_url",
                  "paramtrDc": "상세페이지 url",
                  "arrayYn": "N",
                  "paramtrDefNm": "",
                  "paramtrTy": "string",
                  "paramtrDivision": "필수",
                  "ck": true
                }
              ]
            }
          ]
        },
        {
          "paramtrNm": "matchCount",
          "paramtrDc": "데이터 응답 수",
          "arrayYn": "N",
          "paramtrDefNm": "",
          "paramtrTy": "integer",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "page",
          "paramtrDc": "페이지",
          "arrayYn": "N",
          "paramtrDefNm": "",
          "paramtrTy": "integer",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "perPage",
          "paramtrDc": "한 페이지 결과 수",
          "arrayYn": "N",
          "paramtrDefNm": "",
          "paramtrTy": "integer",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "totalCount",
          "paramtrDc": "총 결과 수",
          "arrayYn": "N",
          "paramtrDefNm": "",
          "paramtrTy": "integer",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}